@import  url('https://fonts.googleapis.com/css?family=Numans');
   .App{
    background-image: url(../background01.jpg) ;
    background-repeat: no-repeat;
     background-attachment: fixed ;
    background-position: center;
     background-size: cover; 
     height: 652px;
     width: "100%";
        height:"400px";
      font-family: 'Numans', sans-serif;

     }
      
     .container{
      height: 100%;
      align-content: center;
      }
      
      .card{
      height: 350px;
      margin-top: auto;
      margin-bottom: auto;
      width: 500px;
      background-color: rgba(0,0,0,0.5) !important;
      align-content: center;
      }
       
      .card-header h3{
      color: white;
      }
      
      
      
      .input-group-prepend span{
      width: 50px;
      background-color: Dd0a37;
      color: black;
      border:0 !important;
      }
      
      input:focus{
      outline: 0 0 0 0  !important;
      box-shadow: 0 0 0 0 !important;
      
      }
      
      .remember{
      color: white;
      }
      
      .remember input
      {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      margin-right: 5px;
      }
      
      .login_btn{
      color: black;
      background-color: Dd0a37;
      width: 100px;
      }
      
      .login_btn:hover{
      color: black;
      background-color: white;
      }
      
      .links{
      color: white;
      }
      
      .links a{
      margin-left: 4px;
      }
      